body
{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.menubar
{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8vw;
    min-height: 20px;
    max-height: 50px;
    width: 100%;
    color: rgb(0, 0, 0);
    background-color:transparent;
    box-shadow: 0px 1px  12px 3px rgb(255, 255, 255);
    backdrop-filter: blur(14px);
    /* position: -webkit-sticky; */
}
menu
{
    padding: 2.6vw;
    cursor: pointer;
    /* text-emphasis-style: none; */
    /* margin: auto; */
}
a
{
 text-decoration: none;
 color: black;
}
menu  a:hover{
        color: greenyellow;  /* Inherit color from parent */
    
}
menu button
{
    cursor: pointer;
    background: transparent;
    border-radius:10px ;
    height:25px;
    /* padding: auto; */
    background-image:linear-gradient(10deg,black , white 5%,gray);
}
img
{
    position: absolute;
    width: 99.2%;
    height: 90vh;
    margin-top: 0px;
    border: 2px solid;
}
h5
{
    /* line-height: 12px; */
    margin: 0px;
    font-weight: 400;
}
h6
{
    margin-top:2px ;
    font-weight: 200;
}
.imgup
{
    position: absolute;
    margin: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 99.2%;
    height: 90vh;
    backdrop-filter: blur(3px);
}
.lang .ball
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin:12px 10px 12px 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: aqua;
}
/* #py
{
    background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.HrBOk_qD-pQSmgSI3XzRJAHaHw%26pid%3DApi&f=1&ipt=de2af6864b66d585ca2ea4ab414a4eee614879624c03522ebf983ab99a66c279&ipo=images) ;
    border-image-width: 60px;
}*/
#c
{
    width: 20px;
    height: 20px;

} 
/*Input section.*/
input
{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 12px;
    width: 250px;
    border-bottom: 2px solid red;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    color: azure;
    font-family:Segoe UI Variable Text Semibold ;

}
p
{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.data
{
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 20px;
    padding: 8px;
    width: 100%;
    text-shadow: 2px 2px 8px white;
    cursor: pointer;
    outline-color: rgb(137, 255, 40);
}